* {
  padding: 0;
  margin: 0;
  background-origin: border-box;
  font-family: monospace;
}

body {
  background-color: lightgray;
}

nav {
  background-color: orange;
  height: 10vh;
  max-width: 100%;
  text-align: center;
}
nav p {
  padding: 1rem;
}

.omOss {
  background-color: lightgrey;
}
.omOss .aboutContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.omOss .aboutContainer .col1 .header {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  background-color: black;
  color: white;
}
.omOss .aboutContainer .col1 .header .headerOss {
  font-size: 2em;
  font-weight: bolder;
  color: orange;
}
.omOss .aboutContainer .col1 .intro {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.omOss .aboutContainer .col1 .intro p {
  font-size: 1.2em;
  text-align: center;
}
.omOss .aboutContainer .col1 .intro p .welcome {
  font-size: 1.5em;
  font-weight: bold;
}
.omOss .aboutContainer .col1 .intro p .introJam {
  font-size: 2em;
  font-weight: bolder;
  background-color: black;
  color: white;
}
.omOss .aboutContainer .col1 .intro p .instrument {
  font-size: 1.5em;
  font-weight: bold;
}
.omOss .aboutContainer .col1 .col1Text h1 {
  padding: 1rem;
  text-align: center;
  font-size: 2em;
}
.omOss .aboutContainer .col1 .col1Text p {
  font-size: 1em;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.omOss .aboutContainer .col1 .col1Text p .bold {
  font-weight: bolder;
}
.omOss .aboutContainer .col1 .col1Text p .numberVisit {
  font-size: 1.4em;
  font-weight: bolder;
  background-color: black;
  color: white;
}
.omOss .aboutContainer .col1 .col1Text p .slogan {
  font-size: 1.2em;
  background-color: white;
}
.omOss .aboutContainer .col1 .col1Text p .visit {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  background-color: white;
}
.omOss .aboutContainer .col1 .col1Text p .visit .numberVisit {
  font-size: 1.4em;
  font-weight: bolder;
  background-color: black;
  color: white;
}
.omOss .aboutContainer .col1 .col1Text p .slogan {
  background-color: white;
}
.omOss .aboutContainer .col1 .col1Text p .slogan p {
  font-size: 1.2em;
}
.omOss .aboutContainer .col1 .textCol1Mobile h3 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}
.omOss .aboutContainer .col1 .textCol1Mobile h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}
.omOss .aboutContainer .col2 {
  margin-top: 2rem;
}
.omOss .aboutContainer .col2 .textCol2Fullscreen {
  display: none;
}
.omOss .aboutContainer .col2 h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.omOss .aboutContainer .col2 h3 {
  font-size: 2em;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}
.omOss .aboutContainer .col2 .aboutPic {
  background-color: white;
  margin-top: 1rem;
  padding: 1rem;
}
.omOss .aboutContainer .col2 .aboutPic img {
  width: 100%;
}

footer {
  height: 10vh;
  margin-top: 2rem;
  background-color: black;
  color: white;
  text-align: center;
}
footer p {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .omOss .aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .omOss .aboutContainer .col1 {
    padding: 1rem;
  }
  .omOss .aboutContainer .col1 .header {
    text-align: center;
    font-size: 4.5em;
    font-weight: bold;
    background-color: black;
    color: white;
    margin-top: 1rem;
  }
  .omOss .aboutContainer .col1 .header .headerOss {
    font-size: 2em;
    font-weight: bolder;
    color: orange;
  }
  .omOss .aboutContainer .col1 .textCol1Mobile {
    display: none;
  }
  .omOss .aboutContainer .col2 {
    margin-top: 2rem;
  }
  .omOss .aboutContainer .col2 h2 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .omOss .aboutContainer .col2 h3 {
    font-size: 2em;
    text-align: center;
    margin-top: 1rem;
    background-color: black;
    color: white;
    padding: 1rem;
  }
  .omOss .aboutContainer .col2 .textCol2Fullscreen {
    display: grid;
  }
  .omOss .aboutContainer .col2 .textCol2Fullscreen h3 {
    text-align: center;
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .omOss .aboutContainer .col2 .textCol2Fullscreen h2 {
    font-size: 2em;
    background-color: white;
  }
  .omOss .aboutContainer .col2 .aboutPic {
    background-color: white;
    margin-top: 1rem;
    padding: 1rem;
  }
  .omOss .aboutContainer .col2 .aboutPic img {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .omOss .aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .omOss .aboutContainer .col1 {
    padding: 1rem;
  }
  .omOss .aboutContainer .col1 .header {
    text-align: center;
    font-size: 6em;
    font-weight: bold;
    background-color: black;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
  }
  .omOss .aboutContainer .col1 .header .headerOss {
    font-size: 2em;
    font-weight: bolder;
    color: orange;
  }
  .omOss .aboutContainer .col1 .intro {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .omOss .aboutContainer .col1 .intro p {
    font-size: 1.6em;
    text-align: center;
  }
  .omOss .aboutContainer .col1 .intro p .welcome {
    font-size: 1.5em;
    font-weight: bold;
  }
  .omOss .aboutContainer .col1 .intro p .introJam {
    font-size: 2em;
    font-weight: bolder;
    background-color: black;
    color: white;
  }
  .omOss .aboutContainer .col1 .intro p .instrument {
    font-size: 1.5em;
    font-weight: bold;
  }
}
@media screen and (min-width: 1440px) {
  .omOss .aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .omOss .aboutContainer .col1 {
    padding: 1rem;
  }
  .omOss .aboutContainer .col1 .header {
    text-align: center;
    font-size: 8em;
    font-weight: bold;
    background-color: black;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
  }
  .omOss .aboutContainer .col1 .header .headerOss {
    font-size: 2em;
    font-weight: bolder;
    color: orange;
  }
  .omOss .aboutContainer .col1 .intro {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .omOss .aboutContainer .col1 .intro p {
    font-size: 2.2em;
    text-align: center;
  }
  .omOss .aboutContainer .col1 .intro p .welcome {
    font-size: 1.5em;
    font-weight: bold;
  }
  .omOss .aboutContainer .col1 .intro p .introJam {
    font-size: 2em;
    font-weight: bolder;
    background-color: black;
    color: white;
  }
  .omOss .aboutContainer .col1 .intro p .instrument {
    font-size: 1.5em;
    font-weight: bold;
  }
}/*# sourceMappingURL=omOss.css.map */