/*===========================
1. Mobile First
2. Generall
3. Navigation
4. Footer
===========================*/

/*===================
1. Mobile First
===================*/


/*===================
2. Generall
===================*/

* {
	font-family: Times New Roman, sans-serif;
}

body {
	background: #e8edee;
	height: 200vh; /*Temporary for scroll*/
}

/*===================
3. Navigation
===================*/

.header {
	position: relative;
	display: inline-block;
	background-color: orange;
	width: 100%;
}
.nav-logo{
	position: absolute;
	background-color: black;
	height: 100%;
}

ul {
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.nav-items {
	padding: 2px 4px;

}

.nav-item {
	display: inline-block;
}

.nav-item a {
	text-decoration: none;
}

.nav-item a:visited {
	text-decoration: none;
}

/*===================
4. Footer
===================*/

.footer {
	text-align: center;
}
