@import "../../styling/style.scss";

* {
	padding: 0;
}

.gridDeskContainer{
    display: none;
}

.kategorierHeader{
    margin-bottom: 2rem;
    text-align: center;
    font-family: Economica;
    font-size: 1.2em;
    color: $Col1;
}
.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    .gridCol1{
        display: grid;
        margin: auto;
        font-family: $Font1;
        color: $Col4;
        .gridItem{
            background-color: $Col3;
            min-height: 20vh;
            max-height: 50vh;
            width: 45vw;
            max-width: 340px;
            margin: .3rem;
            font-size: .6em;
            img{
                width: 100%;
                max-width: 340px;
                aspect-ratio: 16/9;
                object-fit: cover;
                padding: .2rem;
            }
            h2{
                margin: .5rem;
                text-align: center;
            }
        }
    }
    .gridCol2{
        display: grid;
        margin: auto;
        font-family: $Font1;
        color: $Col4;
        .gridItem{
            background-color: $Col3;
            min-height: 20vh;
            max-height: 50vh;
            width: 45vw;
            max-width: 340px;
            margin: .3rem;
            font-size: .6em;
            img{
                width: 100%;
                max-width: 340px;
                aspect-ratio: 16/9;
                object-fit: cover;
                padding: .2rem;
            }
            h2{
                margin: .5rem;
                text-align: center;
            }
        }
    }
}
@media screen and (min-width: 768px) {

    .studioHeader{
        font-size: 4em;
    }
    .studioSlider{
        .sliderHeader{
            font-size: 3em;
        }
    }
    .kategorierHeader{
        font-size: 3em;
    }
    .sliderContainer{
        display: grid;
        gap: 1rem;
        grid-auto-flow: column;
        grid-auto-columns: 30%;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }
}
@media screen and (min-width: 1430px){
    .gridContainer{
        display: none;
    }
    .gridDeskContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
        .gridCol1{
            display: grid;
            margin: auto;
            font-family: $Font1;
            color: $Col4;
            .gridItem{
                background-color: $Col3;
                min-height: 20vh;
                max-height: 50vh;
                width: 45vw;
                max-width: 340px;
                margin: .3rem;
                font-size: .6em;
                border-radius: 10px;
                &:hover{
                    transform: scale(1.05);
                    transition: .5s;
                }
                img{
                    width: 100%;
                    max-width: 340px;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    padding: .2rem;
                }
                h2{
                    margin: .5rem;
                    text-align: center;
                }
            }
        }
        .gridCol2{
            display: grid;
            margin: auto;
            font-family: $Font1;
            color: $Col4;
            .gridItem{
                background-color: $Col3;
                min-height: 20vh;
                max-height: 50vh;
                width: 45vw;
                max-width: 340px;
                margin: .3rem;
                font-size: .6em;
                border-radius: 10px;
                &:hover{
                    transform: scale(1.05);
                    transition: .5s;
                }
                img{
                    width: 100%;
                    max-width: 340px;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    padding: .2rem;
                }
                h2{
                    margin: .5rem;
                    text-align: center;
                }
            }
        }
        .gridCol3{
            display: grid;
            margin: auto;
            font-family: $Font1;
            color: $Col4;
            .gridItem{
                background-color: $Col3;
                min-height: 20vh;
                max-height: 50vh;
                width: 45vw;
                max-width: 340px;
                margin: .3rem;
                font-size: .6em;
                border-radius: 10px;
                &:hover{
                    transform: scale(1.05);
                    transition: .5s;
                }
                img{
                    width: 100%;
                    max-width: 340px;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    padding: .2rem;
                }
                h2{
                    margin: .5rem;
                    text-align: center;
                }
            }
        }
        .gridCol4{
            display: grid;
            margin: auto;
            font-family: $Font1;
            color: $Col4;
            .gridItem{
                background-color: $Col3;
                min-height: 20vh;
                max-height: 50vh;
                width: 45vw;
                max-width: 340px;
                margin: .3rem;
                font-size: .6em;
                border-radius: 10px;
                &:hover{
                    transform: scale(1.05);
                    transition: .5s;
                }
                img{
                    width: 100%;
                    max-width: 340px;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    padding: .2rem;
                }
                h2{
                    margin: .5rem;
                    text-align: center;
                }
            }
        }
    }
}